<section class="signup-form">



  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayoutGap="10px">

    <div style="width:320px">
      <h3 style="    border-bottom: 4px double black;
    padding: 10px;
    background-color: #f2f2f2
">Sign up:</h3>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Enter yor Email" ngModel name="email"
             email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Email is required. </mat-error>
      <mat-error *ngIf="!emailInput.hasError('notValid')">Email is not valid. </mat-error>
      <mat-error *ngIf=""> </mat-error>
    </mat-form-field>


    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" ngModel name="password"
             required minlength="6" #pwInput="ngModel">
      <mat-hint align="end"> {{pwInput.value?.length || 0 }} / 6</mat-hint>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" ngModel name="birthDate" #dateInput="ngModel" required>
      <mat-datepicker-toggle matSuffix [for]="picker" style="font-size:x-large"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateInput.hasError('required')"> BirthDate is required!</mat-error>

    </mat-form-field>

    <mat-checkbox ngModel name="agreed" required color="primary">Agreed to terms and conditions.</mat-checkbox>

    <button  *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid"> Submit </button>
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>

  </form>
</section>

